In [1]:
!pip install faker

Collecting faker
  Downloading Faker-24.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /Users/ronald/Work/jupyter/env/lib/python3.10/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/ronald/Work/jupyter/env/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-24.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: faker
Successfully installed faker-24.0.0

In [2]:
import pandas as pd
from faker import Faker

In [3]:
fake = Faker('es_ES')

In [4]:
fake.email()

'mjuarez@example.com'

In [5]:
ld = []
for n in range(10000):
    ld.append({
        'name': fake.name(),
        'lastname': fake.last_name(),
        'email': fake.email(),
        'birth_date': fake.date_of_birth(),
        'country': fake.country(),
        'id': fake.iana_id()
    })

In [6]:
df = pd.DataFrame(ld)
df.head(3)

,name,lastname,email,birth_date,country,id
0,Marcelo Nebot Garcia,Trujillo,herminia19@example.com,1962-10-21,Chipre,7243895
1,Desiderio de Ugarte,Marco,teobaldo32@example.com,1914-06-04,Líbano,2106330
2,Macarena Arellano-Azorin,Clemente,inesbarbera@example.org,1989-04-05,República Centroafricana,861256

In [7]:
df.to_parquet('datasample.parquet', index=False)